
		{% load static %}
    <html lang="en">

    <head>
      <title>Kanmey Lms</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


      <link rel="stylesheet" href="{% static 'style.css' %}">
      <link rel="stylesheet" href="{% static 'sidebar.css' %}">
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
      <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
      <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
      <!-- CSS only -->
      <link
      rel="stylesheet"

      href="https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css"
    >
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
      <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>

      <script src="{% static 'js/popper.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>


      <style>
        body {
          background-image: url('');
        }

        hr {
          background-color: white;
        }

        .scroll ::-webkit-scrollbar {
          width: 5px;
          height: 5px;

        }

        .scroll ::-webkit-scrollbar-track {
          background-color: #6c757d;
        }

        .scroll ::-webkit-scrollbar-thumb {
          background-color: #05142276;
        }

        .scroll ::-webkit-scrollbar-thumb:hover {
          background-color: #071522;
        }
        .ul.breadcrumb {
        border-radius: 0px;
  padding: 10px 16px;
  list-style: none;
  background-color: #11101d;
}

      .ul.breadcrumb .li {
  display: inline;
  font-size: 18px;
  color:rgb(69, 171, 255) ;
}

/* Add a slash symbol (/) before/behind each list item */
.ul.breadcrumb .li+.li:before {
  padding: 8px;
  color: rgb(255, 251, 251);
  content: "/\00a0";
}

/* Add a color to all links inside the list */
.ul.breadcrumb .li .a {
  color: #ffffff;
  text-decoration: none;
}

/* Add a color on mouse-over */
.ul.breadcrumb .li .a:hover {
  color: #b3d6f4;
  text-decoration: underline;
}
      </style>
    </head>

    <body scroll>

      <div class="sidebar">
        <div class="logo_content">
          <div class="logo">
            <i class='bx bxl-kickstarter'></i>
            <div class="logo_name">
              anemy Lms
            </div>
            <br>

          </div>
          <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav_list">

          <li>

            <a href="{% url 'parent_home' %}">
              <i class='bx bxs-home'></i>
              <span class="links_name">Home</span>
            </a>
            <span class="tooltip">Home</span>
            <hr>

          </li>

          <li>

            <a href="{% url 'parent_student' %}">

              <i class="fa-solid fa-children"></i>
              <span class="links_name"> My Children</span>
            </a>
            <span class="tooltip"> My Children</span>
            <hr>

          </li>

          <!-- fas fa-chalkboard-teacher -->

        </ul>
        <div class="profile_content">
          <div class="profile">
            <div class="profile_details">
              <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt=" image ">
              <div class="name_job">
                <div class="name"><a title="Profile" href="">{{user.first_name }} {{ user.last_name}}</a> </div>
                <div class="job">{{user.instructor_type}}</div>
              </div>
            </div>
            <a href="{% url 'logout-view' %}"><i class='bx bx-log-out' id="log_out"></i></a>
          </div>
        </div>
      </div>

      <script>

        let btn = document.querySelector('#btn')
       let sidebar = document.querySelector('.sidebar')

       btn.onclick = function () {
         sidebar.classList.toggle('active')
       }
      </script>
      <div class="wrapper  align-items-stretch home_content">

        <!-- Page Content  -->
        <div id="content" class=" justify-content-center ">
          <ul class="ul breadcrumb ">
            <li class="li"><a class="a"  href="{% url 'parent_home' %}">Home</a></li>

            <li class="li"><a class="a"  href="{% url 'parent_student' %}">My Children</a></li>

            <li class="li">{{ q_name }} || report</li>

          </ul>



        <!-- Page Content  -->


              <div class="container-fluid">
                <h1 class="text-center" style="margin-top: 100px"><span class="text-danger">{{ q_name }}</span> report</h1>
                <div class="row justify-content-center" style="margin-top: 95px;">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <table class="table table-bordered">
                        <thead>
                            <tr class="alert-primary">
                                <!-- <th>Student</th>
                                <th>Student email</th> -->
                                <th>Id college</th>
                                <th>Quiz name</th>
                                <th>Question</th>
                                <th>Your answer</th>
                                <th>Correct answer</th>
                                <th>Answer condidtion</th>
                                <th>Answered on</th>
                                <th>Total</th>
                                <th>To pass</th>
                            </tr>
                        </thead>

                        <tbody>

                            {% for r in reports %}
                              <tr>
                                <!-- <td>{{r.user}}</td>
                                <td>{{r.user.email}}</td> -->
                                <td>{{r.user.id_college}}</td>
                                <td style="background-color: bisque;">{{r.quiz.name}}</td>
                                <td>{{r.question}}</td>
                                <td>{{r.student_answer}}</td>
                                <td>{{r.correct_answer}}</td>
                                {% if r.is_true_answered == 'Incorrect theory answer' or r.is_true_answered == 'Incorrect chosen answer' or r.is_true_answered == 'Not answered!!' %}
                                    <td style="background-color: rgb(196, 100, 100); color: #ffff; font-weight: 500;">{{r.is_true_answered}}</td>
                                {% else %}
                                    <td style="background-color: rgb(107, 214, 186); color: #ffff; font-weight: 500;">{{r.is_true_answered}}</td>
                                {% endif %}

                                <td>{{r.on_date}}</td>
                                <td style="background-color: bisque;">{{r.question_score}}</td>
                                <td></td>
                              </tr>
                            {% endfor %}

                            {% for t in total %}
                                <tr class="alert-primary">
                                    <!-- <td></td>
                                    <td></td> -->
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>{{t.total}}%</td>
                                    <td style="background-color: brown; color: #ffff;">{{t.score_to_pass}}%</td>
                                </tr>
                            {% endfor %}

                        </tbody>

                    </table>


                    </div>
	            </div>
            </div>


        </div>

        </div>
    <script>
       document.getElementById("ma").style.height =((window.innerHeight)-200)+"px";
       document.getElementById("ma1").style.height =((window.innerHeight)-200)+"px";

        $(window).on('resize', function(e){
          document.getElementById("ma").style.height =((window.innerHeight)-200)+"px";
          document.getElementById("ma1").style.height =((window.innerHeight)-200)+"px";
        });
    </script>

      </body>
    </html>