{% load static %}
<!DOCTYPE html>
<html>


	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'css/form_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">


    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    <script src="{% static 'js/jquery-min.js' %}"></script>

    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.v5.js' %}"></script>

		<title>My Quizes</title>

		<style>
            hr{
              background-color: white;
            }
            .scroll ::-webkit-scrollbar {
              width: 2px;
              height: 1px;
            }

            .scroll ::-webkit-scrollbar-track {
              background-color: #6c757d;
            }

            .scroll ::-webkit-scrollbar-thumb {
              background-color: #6c757d;
            }

            .scroll ::-webkit-scrollbar-thumb:hover {
              background-color: #6c757d;
            }

            .bt {
              background-color: #5a6268;
              border-color: #5a6268;
            }

            .bt:hover {
              background-color: #fdfeff;
              border-color: #454b50;
            }
        </style>

	</head>


	<body>
		<button type="button" id="mod2" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" hidden>
		</button>
		  
		  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
			<div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="exampleModalLabel">Question Done!</h5>
			  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
			  <div class="alert alert-info d-flex align-items-center" role="alert">
				<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
				<div>
					{{success}}
				</div>
			  </div>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-info" data-bs-dismiss="modal">Close</button>
			</div>
			</div>
		  </div>
		  </div>

		{% if success %}

		  <script>
		  window.onload = function(){
			document.getElementById('mod2').click();
		  }
		  </script>

		{% endif %}



        <div class="sidebar">
  <div class="logo_content">
      <div class="logo">
        <i class='bx bxl-kickstarter'></i>
          <div class="logo_name">
             anemy Lms
          </div>
          <br>

      </div>
      <i class='bx bx-menu' id="btn"></i>
  </div>
  <ul class="nav_list">

      <li>

              <a href="{% url 'instructor_home' %}">
                <i class='bx bxs-home' ></i>
                  <span class="links_name">Home</span>
              </a>
               <span class="tooltip">Home</span>
               <hr>

      </li>


      <li>
              <a href="{% url 'Schedule_home' %}">
                  <i class='bx bx-table' ></i>
                  <span class="links_name">Schedule</span>
              </a>
              <span class="tooltip">Schedule</span>
              <hr>

      </li>



  </ul>
  <div class="profile_content">
      <div class="profile">
          <div class="profile_details">
            <img src="{% static 'iconins.png' %}" alt="">
              <div class="name_job">
                  <div class="name"> {{user.first_name }} {{ user.last_name}} </div>
                  <div class="job">{{user.instructor_type}}</div>
              </div>
          </div>
          <a href="{% url 'logout-view' %}" class="text-white"><i class='bx bx-log-out' id="log_out"></i></a>
      </div>
  </div>
</div>

        <div class="home_content">

            <header>

                  <div class="px-3 py-2 text-white" style="background-color: #11101d;">
                    <div class="container">
                      <div class="justify-content-center justify-content-lg-start">
                        <a href="#" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                        </a>

                        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                            <li>
                                <a href="{% url 'instructor_home' %}" class="nav-link text-white">home</a>
                            </li>
                            <li>
                                <a href="{% url 'add-quiz' Schedule_name %}" class="nav-link text-white">Add quiz</a>
                            </li>

                            <li>
                                <a href="{% url 'my-quizes-view' Schedule_name %}" class="nav-link text-white">My quizes</a>
                            </li>
                            <li>
                                <a href="{% url 'reports-view' Schedule_name %}" class="nav-link text-white">Quiz report</a>
                            </li>


                          <li>
                           
                            <div class="dropdown ">
                              <button class="btn dropdown-toggle nav-link text-white " type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                                  aria-expanded="false">
                                  Schedule
                            </button>
                              <div class="dropdown-menu" aria-labelledby="triggerId">

                                {% for instructor_Schedule in instructor_Schedule %}
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" href="{% url 'Schedule_Instructor' instructor_Schedule.instructor_schedule_name %}">
                                    {{instructor_Schedule.instructor_schedule_name}}</a>
                                  <div class="dropdown-divider"></div>
                                {% endfor %}
                                
                                
                              </div>
                            </div>
                          </li>

                        


                        </ul>


                    </div>
                  </div>

                <!-- <div class="px-3 py-2 border-bottom mb-3">
                  <div class="container d-flex flex-wrap justify-content-center">


                    <div class="text-end">
                      <center><b>welcome {{user.instructor_type}} : {{user.first_name }} {{ user.last_name}} </b></center>
                    </div>

                  </div>
                </div> -->

            </header>

    		{% if warning %}
	  
			  {% for key, val in warning %}
				  <div class="alert alert-danger d-flex align-items-center" role="alert">
					<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
					<div>
					  Number of <b>Quiz {{key}}</b> theory questions must be <b>{{val}}</b> theory questions or more. Please check the number of <b>Quiz {{key}}</b> questions added, or else it will not appear to the students
					</div>
				  </div>

			  {% endfor %}

			{% endif %}

			{% if warning2 %}
			  
			  {% for key, val in warning2 %}
				  <div class="alert alert-danger d-flex align-items-center" role="alert">
					<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
					<div>
					  Number of <b>Quiz {{key}}</b> chosen questions must be <b>{{val}}</b> chosen questions or more. Please check the number of <b>Quiz {{key}}</b> questions added, or else it will not appear to the students
					</div>
				  </div>

			  {% endfor %}

			{% endif %}

        	<div class="row justify-content-center" style="margin-top: 95px;">
  
				  {% for data in my_quizes %}
					<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-5">
					  <div class="card" style="width: 18rem;">
						<img src="{% static 'photo/quiz/quiz-img.png' %}" class="card-img-top" alt="...">
						<div class="card-body">
						  <h5 class="card-title">{{ data.name }}</h5><hr>
						  <p class="card-text">{{ data.topic }}</p><hr>
						  <p class="card-text">{{ data.start_quiz }}</p><hr>
						  <a href="{% url 'edit-quiz' data.id %}" class=" btn btn-outline-danger card-link">Edit quiz</a>
						  <a href="{% url 'delete-unanswerd-quiz' data.id Schedule_name %}" class=" btn btn-outline-danger card-link">Delete quiz</a>
						</div>
						<div class="card-body">
						  <a name="name_add" id_val="{{ data.id }}" class="btn btn-outline-success card-link btn-sm" data-bs-toggle="modal" href="#add-question" role="button">Add Question</a>
						  <a href="{% url 'quiz-question' data.id Schedule_name %}" class=" btn btn-outline-success card-link btn-sm">Edit Question</a>

						</div>
					  </div>
					</div>
				  {% empty %}
					  <h1 class="text-muted" style="text-align: center; margin-top: 20%;">No Quizes added or check your reports............!</h1>

				  {% endfor %}

				  <div class="modal fade" id="add-question" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
					<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
					  <div class="modal-content">
					  <div class="modal-header">
						<h5 class="modal-title" id="exampleModalToggleLabel"></h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					  </div>
					  <div class="modal-body custom_css" id="custom_in">


						<form class="add_question_form" action="" method="post" id="">

						  <select name="question_type" id="question_type">
							<option value="">--- Question type ---</option>
							<option value="chosen_q" onclick="chosen_q()">Chosen question</option>
							<option value="theory_q" onclick="theory_q()">Theory question</option>
						  </select>
						  <input type="number" id="quiz_id" hidden name="quiz_id">

						  <div id="form_id"></div>

						</form>

					  </div>

					  <div class="modal-footer" id="custom_footer">
					  </div>

					  </div>
					</div>
					</div>

			</div>
        	
        </div>


        <script>
	    		let btn = document.querySelector('#btn')
	        let sidebar = document.querySelector('.sidebar')

	        btn.onclick = function(){
	            sidebar.classList.toggle('active')
	        }

			  const loc = location.origin

			  let names = document.getElementsByName('name_add')

			  for(let i=0; i<names.length; i++){
				names[i].addEventListener('click', () => {
				  document.getElementById('quiz_id').value = names[i].attributes['id_val'].value
				  $.ajax({
					method: 'GET',
					url: `${loc}/quiz-conf/response_id/`,
					data: {id: names[i].attributes['id_val'].value},
					success: function(response){
					  $('#exampleModalToggleLabel').html(`
						${response.name}
					  `)

					}
				  })
				})
				
			  }


			  const chosen_q = () =>{
				
				$('#form_id').html(`
				  {% csrf_token %}

				  <label>{{ form.question.label }}*</label>
				  {{ form.question }}

				  <label>{{ form.chose1.label }}*</label>
				  {{ form.chose1 }}

				  <label>{{ form.chose2.label }}*</label>
				  {{ form.chose2 }}

				  <label>{{ form.chose3.label }}*</label>
				  {{ form.chose3 }}

				  <label>{{ form.chose4.label }}*</label>
				  {{ form.chose4 }}

				  <label>{{ form.correct_chosen.label }}*</label>
				  <p class="text-muted">{{ form.correct_chosen.help_text }}</p>
				  {{ form.correct_chosen }}

				  <button type="submit" class="btn btn-outline-success btn-sm">Save</button>
				`)
				$('input').prop('required', true)

			  }


			  const theory_q = () =>{
				$('#form_id').html(`
				  {% csrf_token %}

				  <label>{{ form.question.label }}*</label>
				  {{ form.question }}

				  <label>{{ form.theory_answer.label }}*</label>
				  <p class="text-muted">{{ form.theory_answer.help_text }}</p>

				  {{ form.theory_answer }}

				  <button type="submit" class="btn btn-outline-success btn-sm">Save</button>
				`)
				$('textarea').prop('required', true)

			  }

			</script>



	</body>


</html>