{% load  static %}
<html lang="en">
  <head>
  	<title>Kanmey Lms</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <!-- CSS only -->
    <script src="{% static 'js/jquery-min.js' %}"></script>
    
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

 
    <style>
      hr{
        background-color: white;
      }
      .scroll ::-webkit-scrollbar{
        width: 2px;
        height: 1px;
      }
      
      .scroll ::-webkit-scrollbar-track{
        background-color: #6c757d;
      }
      .scroll ::-webkit-scrollbar-thumb{
        background-color: #6c757d;
      }
      .scroll ::-webkit-scrollbar-thumb:hover{
        background-color: #6c757d;
      }
     </style>
  </head>
  <body>

<div class="sidebar">
  <div class="logo_content">
      <div class="logo">
        <i class='bx bxl-kickstarter'></i>
          <div class="logo_name">
             anemy Lms
          </div>
          <br>
          
      </div>
      <i class='bx bx-menu' id="btn"></i>
  </div>
  <ul class="nav_list">

      <li>
       
              <a href="{% url 'instructor_home' %}">
                <i class='bx bxs-home' ></i>
                  <span class="links_name">Home</span>
              </a>
               <span class="tooltip">Home</span>
               <hr>
         
      </li>
      

      <li>
              <a href="{% url 'Schedule_home' %}">
                  <i class='bx bx-table' ></i>
                  <span class="links_name">Schedule</span>
              </a>
              <span class="tooltip">Schedule</span>
              <hr>
      
      </li>

      
  
  </ul>
  <div class="profile_content">
      <div class="profile">
          <div class="profile_details">
            <img src="{% static 'iconins.png' %}" alt="">
              <div class="name_job">
                  <div class="name"> {{user.first_name }} {{ user.last_name}} </div>
                  <div class="job">{{user.instructor_type}}</div>
              </div>
          </div>
          <a href="{% url 'logout-view' %}" class="text-white"><i class='bx bx-log-out' id="log_out"></i></a>
      </div>
  </div>
</div>

<div class="wrapper d-flex align-items-stretch home_content">

  
        <!-- Page Content  -->
      <div id="content" class=" ">
        
        <header>
          <center>
          <div class="px-3 py-2 bg-dark_blue text-white">
            <div class="container">
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                
      
                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                  <li>
                    <a href="{% url 'instructor_home' %}" class="nav-link text-white">
                      Home
                    </a>
                  </li>
                  
                  <li>
                    <div class="dropdown ">
                      <button class="btn dropdown-toggle nav-link text-white " type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false">
                          Schedule
                    </button>
                      <div class="dropdown-menu" aria-labelledby="triggerId">

                        {% for instructor_Schedule in instructor_Schedule %}
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{% url 'Schedule_Instructor' instructor_Schedule.instructor_schedule_name %}">
                            {{instructor_Schedule.instructor_schedule_name}}</a>
                          <div class="dropdown-divider"></div>
                        {% endfor %}
                        
                        
                      </div>
                    </div>
                  </li>
                  <li>
                   
                  </li>
                  
                  
                </ul>
                <div class=" text-end" >
              </div>
              </div>
              
            </div>
          </div>
        </center>
          
        </header>


        <div id="content"  class="" >

            <div class="row" style="height: 100%">

                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 justify-content-center" style="text-align: left; margin-top: 180px; padding: 100px">
                    <p class="text-left" style="font-size: 3.5rem;margin-left: 50px;  font-family: "Poppins", Arial, sans-serif;" > Instructor </p>
                    <p class="text-muted" style="font-size: 1.25rem; margin-left: 50px; font-family: "Source Sans Pro", Helvetica, sans-serif;">
                        can be management material (Slides - Videos)
                        can be management Post
                        View Task and Add degree Task
                        View Student And schedule.
                        Quizzes can add and delete student Schedule. <br><br>
                        Can make awesome things with the company as sub admin if you have som of his permissions
                    </p>
                </div>

                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                    <img src="{% static 'photo/instructor_home.jpg' %}" width="100%" height="100%">
                </div>
            </div>
          
        </div>

      </div>
      
		</div>

<script>
 let btn = document.querySelector('#btn')
  let sidebar = document.querySelector('.sidebar')

  btn.onclick = function () {
    sidebar.classList.toggle('active')
    
  }
function schedule(data) {  
 

  if (data==null){
    $.ajax({
    url:window.location.origin+ "/instructor/Schedule",

    success:function(req){
      $("#requestcompany").html(req)
    }
    
    });
  } else if (data=="data"){
    var d={
    "get":"submit_schedule",
    "Schedule_Name":$("#Schedule_Name").val(),
    "instructor_schedule_name":$("#instructor_schedule_name").val(),
    "student_schedule_name":$("#student_schedule_name").val(),
    "course_name":$("#course_name").val(),
    "quiz_name":$("#quiz_name").val(),
    "task_name":$("#task_name").val(),
    "material_name":$("#material_name").val(),
    "post_title":$("#post_title").val(),
    }
    $.ajax({
    url:window.location.origin+ "/instructor/Schedule",
    data:d,
    dataType:"json",
    success:function(req){
      $("#requestcompany").html(req)
    }
    
    });
  }
 
}

</script>
  </body>
</html>