{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

        <script src="{% static 'js/jquery-min.js' %}"></script>

        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

        <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
        <link rel="stylesheet" href="{% static 'css/contact_1.css' %}">

        <title>
            {% block title %}{% endblock title %}
        </title>
    </head>
    <body>

        {% include "sidebar.html" %}

        <div class="home_content">
            <nav class="navbar navbar-expand-lg navbar-dark p-4" style="background: rgba(17,16,29);">
                <div class="container">
                  <a class="navbar-brand" href="#"></a>
                  <button id="toog" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon text-white"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a id="home" class="" href="{% url 'home' %}">Home</a>
                      </li>
                      <li class="nav-item">
                        <a id="blog" class="" href="{% url 'blog' %}">Blog</a>
                      </li>
                      <li class="nav-item">
                        <a id="us" class="" href="{% url 'contact-us' %}">Contact us</a>
                      </li>
                      <li class="nav-item">
                        <a id="comp" class="" href="{% url 'companies-view' %}">Companies</a>
                      </li>
                      <li class="nav-item">
                        <a id="b_comp" class="" href="{% url 'become-company' %}">Become company</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
            {% block userPage %}
    
            {% endblock userPage %}
            <script>


                document.getElementById('toog').addEventListener('click', e => {
                  
                  for(let i=0; i<document.getElementsByClassName('nav-item').length; i++){
                    document.getElementsByClassName('nav-item')[i].classList.toggle('tog_e')
                  }
                })
              </script>
        </div>
        
        <script src="{% static 'js/bootstrap.bundle.min.v5.js' %}"></script>
        
    </body>
</html>