{% extends 'base.html' %}

{% block title %}
    Set new password
{% endblock %}

{% block content %}
    <div class="container">
        <dvi class="row  justify-content-center" style="margin-top: 150px">
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                <h1 class="text-center">New password </h1>

                <form action="" method="post" class=" mt-5">{% csrf_token %}
                    {% if error_pass %}
                        <div class="alert alert-danger" role="alert">
                            {{ error_pass }}
                        </div>
                    {% elif success %}
                        <div class="alert alert-success" role="alert">
                            {{ success }}
                        </div>
                    {% endif %}

                    <div class="form-floating mb-3">
                        <input type="password" name="password" class="form-control" id="floatingInput" placeholder="name@example.com" required>
                        <label for="floatingInput">Password</label>
                    </div>

                    <div class="form-floating">
                        <input type="password" name="confirm_password" class="form-control" id="floatingPassword" placeholder="Password" required>
                        <label for="floatingPassword">Confirm password</label>
                    </div>

                    <button type="submit" class="col-3 mt-3 offset-4 btn btn-dark">Submit</button>
                </form>


            </div>
        </dvi>
    </div>

    <script>

        let nn = document.getElementById('cus_nav')
        nn.classList.remove('animy')
        nn.classList.add('bg-dark')

    </script>
{% endblock %}